<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>
      Pokémon
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Buscar Pokemon"></ion-searchbar>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="grass">
          <ion-card-header>
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png">
            <ion-card-subtitle>Bulbasaur</ion-card-subtitle>
            <ion-card-title>#002</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-badge color="grass" class="borda" >Grass</ion-badge>
            <ion-badge color="poison" class="borda">Poison</ion-badge>
          </ion-card-content>
        </ion-card>

      </ion-col>

      <ion-col>
        <ion-card color="fire">
          <ion-card-header>
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png">
            <ion-card-subtitle>Charmander</ion-card-subtitle>
            <ion-card-title>#004</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-badge color="fire" class="borda">Fire</ion-badge>

          </ion-card-content>
        </ion-card>


      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
    <ion-card color="water">


          <ion-card-header>
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png">
            <ion-card-subtitle>Squirtle</ion-card-subtitle>
            <ion-card-title>#007</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-badge color="water" class="borda">Water</ion-badge>

          </ion-card-content>
    </ion-card>


    </ion-col>

    <ion-col>
      <ion-card color="electric">
        <ion-card-header>
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/025.png">
          <ion-card-subtitle>Pikachu</ion-card-subtitle>
          <ion-card-title>#025</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-badge color="electric" class="borda">Electric</ion-badge>

        </ion-card-content>
      </ion-card>

    </ion-col>

    </ion-row>

  </ion-grid>


</ion-content>
